html {
    background: rgb(34, 193, 195);
    background: linear-gradient(270deg, rgba(34, 193, 195, 1) 0%, rgba(45, 160, 253, 1) 100%);
}

.cards {
    border: solid;
    width: 100px;
    height: 200px;
    cursor: pointer;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.rows {
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

#container {
    margin-left: 20%;
    margin-right: 20%;
}

.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card__face--front {
    background: rgb(63, 94, 251);
    background: linear-gradient(0deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.card__face--back {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    transform: rotateY(180deg);
}

.cards.is-flipped {
    transform: rotateY(180deg);
}